* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
}
main {
  margin: 2rem auto;
  width: 100%;
}

footer {
  margin: 1rem auto;
  padding: 1rem;
}
ul {
  border-style: none;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}

header {
  width: 100%;
  padding: 1rem;
}

nav {
  width: 100%;
}

div {
  margin: 1rem 0rem;
}