* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  background-color: #f2f2f2;
}
main {
  margin: 2rem auto;
  width: 100%;
}

footer {
  margin: 1rem auto;
  padding: 1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  color: #111;
  font-weight: 700;
}
p {
  font-size: 1.6rem;
  color: #f2f2f2;
  font-weight: 500;
}

header {
  width: 100%;
  padding: 1rem;
  background-color: #333;
  margin-bottom: 2rem;
}

nav {
  width: 100%;
}

div {
  margin: 1rem 0rem;
}